:root{
    --primary: #63592C;
    --secundairy: #D7C33A;
    --tertairy: #AD9B22;

    --background: #F5F5F5;
    --border: #969696;
    --font: #111111;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background);
    height: 1500px;
}

p{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 14px;
    color: var(--primary);
    font-weight: 300;
}

.title{
    font-size: 72px;
    font-weight: 600;
}


nav{
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 2;

    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

nav>.logo{
    display: flex;
    clip-path: polygon(0 0, 100% 0, 83% 100%, 0% 100%);
    background-color: var(--secundairy);
    width: 350px;
}

.logo2{
    padding: 10px;
    padding-right: 50px;
    width: auto;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    background-color: var(--tertairy);
}

.logo-text{
    margin: auto;
    padding-left: 10px;
}

div>.logo{
    font-weight: 600;
    font-size: 28px;
    color: var(--font);
}

nav>.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-color: var(--secundairy);
    padding-left: 100px;
}

.nav>.link{
    display: block;
    color: var(--primary);
    text-align: center;
    text-decoration: none;

    height: auto;
    width: 100px;
    padding-top: 23px;

    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 15px;

    transition-duration: 0.5s;
}

.nav>.link:hover{
    background-color: var(--tertairy);
    color: var(--font);
    
}

main{
    width: 100%;
    height: auto;
}

main>.row{
    width: 70%;
    margin-left: 15%;


    border-bottom-style: solid;
    border-color: var(--border);
}

.row>.row-content{
    width: 98%;
    height: 100%;
    padding-top: 0.5em;

    margin-right: 1%;
}

.row>.row-img{
    margin: 0;
    padding: 0;

    width: 700px;
    height: 100%;
}

main>.ROW1{
    height: 600px;
    width: 100%;
    margin: 0;
    border-style: none;
}

.ROW1>img{
    width: 100%;
    height: 500px;
}

main>.ROW2{
    height: 100px;
}

main>.ROW3{
    height: 300px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}